# このファイルをコピーして terraform.tfvars を作成してください
# cp terraform.tfvars.example terraform.tfvars

project_id  = "your-gcp-project-id"
region      = "asia-northeast1"
location    = "asia-northeast1"
ga_raw_dataset_id = "analytics_xxxxxxxxx"